* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fdd7e3;
  text-align: center;
}
img {
  width: 20rem;
  height: 25rem;
  border-radius: 7px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 6rem;
  color: #cd890c;
}
.card {
  width: 20rem;
  height: 25rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  justify-content: space-around;
}
