// $backgroundColor: linear-gradient(
//   90deg,
//   rgba(238, 174, 202, 1) 0%,
//   rgba(148, 187, 233, 1) 100%
// );
$backgroundColor: #da0484c7;
$categoryButton: #f0f0f0;
$categoryButtonHover: #ff4500;
